@{
    ViewData["Title"] = "CRUDelicious";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <a asp-controller="Home" asp-action="Index">Home</a>
    |
    <a asp-controller="Home" asp-action="CreateDish">Create Dish</a>

    <h3>Check out some recent dishes: </h3>

    @foreach (Dish dish in Model)
    {
        <div>
            @dish.Name by @dish.Chef
        </div>
    }
</div>
