@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post" action="/Home/Login">
    <label for="name">Welcome! Please give us your name: </label>
    <input type="text" name="name" required />
    <input type="submit" value="Login" />
</form>
</div>
