<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey with Model</title>
</head>

<body>
    <form action="process" method="post">
        <div>
            <label for="Name">Your Name: </label>
            <input type="text" name="Name">
        </div>

        <div>
            <label for="Location">Dojo Location: </label>
            <input type="text" name="Location">
        </div>

        <div>
            <label for="FavoriteLanguage">Favorite Language: </label>
            <input type="text" name="FavoriteLanguage">
        </div>

        <div>
            <label for="Comments">Comments (optional):</label>
            <input type="text" name="Comments">
        </div>

        <button type="submit">Submit</button>
    </form>
</body>

</html>