<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>

<body>
    <form action="process" method="post">
        <div>
            <label for="name">Your Name: </label>
            <input type="text" name="name">
        </div>

        <div>
            <label for="location">Dojo Location: </label>
            <input type="text" name="location">
        </div>

        <div>
            <label for="favoriteLanguage">Favorite Language: </label>
            <input type="text" name="favoriteLanguage">
        </div>

        <div>
            <label for="comments">Comments (optional):</label>
            <input type="text" name="comments">
        </div>

        <a href="/info"></a><button type="submit">Submit</button></a>
    </form>
</body>
</html>