@model Dish

<a asp-controller="Chef" asp-action="Index">Chefs</a>
|
<a asp-controller="Dish" asp-action="AllDishes">Dishes</a>
|
<a asp-controller="Chef" asp-action="AddChef">Add a Chef</a>
|
<a asp-controller="Dish" asp-action="AddDish">Add a Dish</a>
<div class="container w-75 mx-auto">

    <h1>Add a Dish</h1>

    <form asp-action="CreateDish" asp-controller="Dish" method="post" class="shadow p-3 rounded">
        <div>
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Calories"></label>
                <input asp-for="Calories" type="text" class="form-control" />
                <span asp-validation-for="Calories" class="text-danger font-weight-bold"></span>
            </div>
        </div>
        <div>
            <div class="mb-3">
                <label asp-for="Tastiness">Tastiness</label>

                <select asp-for="Tastiness" name="Tastiness">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="Tastiness" class="text-danger font-weight-bold"></span>
            </div>
        </div>
        <div>
            <div class="mb-3">
                <label asp-for="ChefId">Chefs</label>
                <select asp-for="ChefId">
                    @foreach (Chef c in ViewBag.AllChefs)
                    {
                        
                        <option value="@c.ChefId">@c.FirstName @c.LastName @c.ChefId</option>
                    }
                </select>
                <span asp-validation-for="ChefId" class="text-danger font-weight-bold"></span>
            </div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
    </form>

</div>
